{% extends 'base.html' %}

{% block conteudo %}

<br>

<button><a href="{% url 'login' %}">Logar</a></button>
<button><a href="{% url 'index' %}">Contatos</a></button>

<br>
<br>
<br>

<h2>TÍTULO</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod lacinia eleifend. Sed semper ultricies
    nisl dictum posuere. Praesent a orci non nulla varius commodo sed sed ipsum. Aliquam nec rutrum leo. Maecenas vitae
    nibh gravida, interdum urna nec, elementum lacus. Integer semper vestibulum laoreet. Nunc tristique tincidunt nulla
    et ullamcorper. Aenean euismod lobortis eros, ac tincidunt velit placerat ut. Curabitur accumsan finibus erat sed
    consectetur. Nulla suscipit tincidunt tortor ac vehicula. Aenean quis commodo odio, sit amet lobortis elit. Duis
    pulvinar semper nisl, ac interdum lacus. Sed interdum ante sem, in semper orci mattis sit amet.

    Aenean pharetra tempor ex, a ornare orci efficitur ut. Nulla vulputate nibh nunc, et rutrum metus malesuada varius.
    Suspendisse congue tellus vel tortor tincidunt convallis. Morbi ultricies tristique nisi, a pharetra metus pretium
    non. Aliquam sit amet consequat lorem. Suspendisse eu aliquet ligula. Ut lobortis rhoncus eros. Ut ac pellentesque
    felis, vitae convallis ligula. Vivamus ac metus lectus. Praesent a sem at risus efficitur aliquet id cursus sem.
    Proin vel lacus ipsum.

    Donec diam nulla, feugiat nec tortor in, varius accumsan ante. Aenean sollicitudin erat a diam venenatis accumsan.
    Donec eu leo tortor. Aenean nisl dolor, volutpat eget scelerisque fermentum, accumsan in augue. Vivamus sodales
    tellus at dui cursus, ut scelerisque lorem interdum. Aenean a ex et ligula convallis viverra. Phasellus scelerisque
    augue diam. In hac habitasse platea dictumst. Aliquam quis ornare est, vitae condimentum nisi. Donec lacinia lectus
    vitae elit pharetra mattis. Duis sed convallis purus. Praesent quis tincidunt turpis, non pretium nunc. Cras ut
    ligula condimentum, tincidunt nibh a, consequat purus.

    Sed eu finibus est. Nullam consequat magna sagittis sapien dapibus fringilla. Nam imperdiet dolor id lobortis
    iaculis. Ut aliquet mauris ac imperdiet ullamcorper. Vivamus ullamcorper elit id orci vestibulum, vel interdum risus
    vehicula. Donec a nibh dapibus, facilisis nisl eu, sagittis ante. Donec vitae suscipit purus. Pellentesque aliquet
    laoreet ultrices. In luctus sagittis mi sed sodales. Fusce sodales urna diam, et lobortis lorem gravida id. Maecenas
    eget ex a ligula dictum auctor. Aenean laoreet mi ut neque ornare, ut faucibus nisi tempus. Aenean sodales, nisi
    eget lobortis vehicula, est mauris dignissim ligula, ut luctus sem ex sit amet arcu. Nam purus eros, consectetur
    iaculis porttitor nec, ultrices sit amet erat.

    Sed quis elit porta, iaculis lectus in, tincidunt ipsum. Aenean vitae condimentum neque, pharetra dictum augue.
    Aenean enim est, sodales nec tempor ac, facilisis id purus. Cras quis justo in nisi ullamcorper elementum sed vel
    eros. Etiam nec magna ut odio consectetur bibendum. Nam euismod enim et tincidunt finibus. Nam ultricies ex
    malesuada, laoreet justo et, aliquam ligula. In eget velit sit amet lectus elementum ornare. Duis vulputate ante
    metus, molestie tincidunt nulla congue non. Vivamus erat nibh, egestas et mollis sed, eleifend et quam. Mauris
    iaculis rutrum velit, ut consequat arcu luctus vel. Phasellus tincidunt dui a tortor luctus, sit amet blandit massa
    laoreet. Vestibulum egestas metus ut arcu dictum lobortis. Aliquam commodo a lectus nec iaculis. Curabitur at
    viverra elit, eu cursus felis. Duis at arcu non ante elementum dapibus.</p>

{% endblock %}
