{% extends 'base.html' %}
{%block titulo%}Início | {%endblock%}

{% block conteudo %}

<br>
<br>
<br>

<button class="btn btn-primary"><a class="btn btn-primary" href="{% url 'login' %}">Logar</a></button>
<button class="btn btn-primary" style="margin-left: 30px;"><a class="btn btn-primary" href="{% url 'index' %}">Ver contatos</a></button>

<br><br><br>

<p>
    <img src="https://www.boavista.rr.leg.br/imagens/emconstruo.jpg/image" style="max-width: 500px; height: auto;">
</p>

<br>
<br>



<p></p>

{% endblock %}
